/.cargo
/.rustup
/target
/zomes/target
/zomes/*.wasm
/dnas/*.dna
/dnas/*/zomelets/dist
/dnas/*/zomelets/node_modules
/happ/devhub.happ
/tests/node_modules
/tests/test.happ
/tests/test.zip
/tests/test.webhapp
.devhub
