bundled/*.happ
bundled/*/*.dna
tests/node_modules
tests/test.dna
tests/dnas/*/*.dna
tests/test.gz
dnas/*/target
zomes/*/target
dna_utils/target
essence_payloads/target
hc_entities/target
devhub_types/target
tests/multitesting.happ
