DevHub.happ
bundled/*.dna
zomes/*.wasm
tests/node_modules
tests/test.dna
tests/dnas/*/*.dna
tests/test.gz
.cargo
target
devhub_types/target
tests/multitesting.happ
js-devhub-entities/holochain-devhub-entities-*.tgz
